.list_content {
  grid-area: LICA;

  display: flex;
  flex-direction: column;
  background-color: var(--secondary-discord);

  border-left: 1px solid var(--border-discord);
  border-top: 1px solid var(--border-discord);
  border-radius: 12px 0 0 0;
  overflow: hidden;
  position: relative;
  padding-right: 3px;

  .name_content {
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0 11px 0 10px;
    align-items: center;
    border-bottom: 1px solid var(--border-discord);

    background-color: var(--secondary-discord);
    z-index: 2;
    /* transition: background-color 0.3s ease; */

    .div_name_server {
      display: flex;
      align-items: center;
      gap: 5px;
      .icon {
        width: 22px;
        height: 22px;
      }

      .title {
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px !important;
      }
    }

    .icon_down {
      width: 14px;
      height: 14px;

      color: var(--white);
      cursor: pointer;
    }
  }

  /* IMAGE BANNER */
  .div_banner {
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    /* transition: opacity 0.1s ease-in; */
    
    

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 50%
      );
    }
  }

  .lista_canales {
  
    max-height: calc(100vh - 48px - 68px - 33px);
    overflow: hidden scroll;
    position: relative;
    box-sizing: border-box;


    &::-webkit-scrollbar {
      z-index: 999;
      width: 4px; 
    }


    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  
    /* 🔷 color del scroll */
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #5f606a;
        border-radius: 4px;
      }
     
    }

    .espacio {
      height: 84px;
      width: 100%;
      top: 80px;
      background: transparent;
      /* position: absolute; */
    }
    
    .espaciox {
      height: 84px;
      width: 100%;
      top: 80px;
      background: red;
      position: absolute;
    }
    
    .contenido {
      padding: 40px 9.5px 0 16px;
      width: 100%;
      
      
      
      
      
      
      .acceso {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;


        .text_icon {
          display: flex;
          align-items: center;
          gap: 8px;
       
          .icon {
            width: 20px;
            height: 20px;
            fill: var(--symbol);

          }

          .text {
            color: var(--symbol);
            font-size: 0.75rem;
            font-weight: 500;
          }
        }

        .text_nuevo {
          color:  #5462C7;
          font-size: 0.7rem;
          font-weight: 500;
          background: #C7D2FF;
          border-radius: 12px;
          padding: 0px 8px;
          line-height: 16px;
        }

      }


      .div_separador {
        margin: 15px 0;
        border-top: 1px solid #9492921a;
        

      }

      .categoria {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6px;

        > span {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          color: var(--gray);
        }
      }
      .icon_add {
        width: 21px;
        height: 21px;
        color: var(--symbol);
        cursor: pointer;
      }





      .canal_button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        padding: 5px 3px;
        border-radius: 5px;
        background-color: transparent;

        transition: background-color 0.2s;

        .div_icon_text {
          display: flex;
          align-items: center;


          .icon {
            width: 14px;
            height: 14px;
            color: var(--white);
          }
          .text {
            color: var(--white);
            font-size: 0.75rem;
            font-weight: 500;
          }
        }

        > div span {
          margin-left: 5px;
          color: var(--senary);
        }

        &:hover,
        &.active {
          background-color: var(--quinary);

          > div span {
            color: var(--white);
          }
        }
      }

    
      .icon_add_user {
        width: 16px;
        height: 16px;

        margin-left: 4px;

        color: var(--symbol);
        cursor: pointer;

        transition: color 0.2s;

        &:hover {
          color: var(--white);
        }
      }
    }
  }

  .bg_transparent {
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }

  .img_transparent {
    opacity: 0;
  }
}
