:root {
  --primary-discord: #121214;
  --secondary-discord: #151416;
  --third-discord: #1a1a1e;
  --fourth-discord: #202024;

  --border-discord: #272727;
  --discord: #5865f2;
  --notification: #f84a4b;  
  --bg-search: #18181C;



  --mention-detail: #f9a839;
  --mention-message: #413f3f;




  --hover-list: #393d42;
  --white: #fff;
  --gray: #8a8c90;
  --symbol: #74777a;

}
