.btn_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 44px;
  border-radius: 6px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
  transition: border-radius 0.2s, background-color 0.2s;

  /* hover bola blanca */
  &:hover {
    border-radius: 16px;
    &::before {
      width: 9px;
      height: 20px;
      position: absolute;
      left: -18px;
      border-radius: 10px;
      background-color: white;
      content: "";
    }
  }

  /* bola blanca mas grande al hacer click */
  &:focus,
  &:active {
    border-radius: 16px;
    &::before {
      width: 10px;
      height: 40px;
      position: absolute;
      left: -18px;
      border-radius: 10px;
      background-color: white;
      content: "";
    }
  }

  /* discord */
  .img_server_home {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    background-color: #212020;
    outline: none;
    border: none;
    transition: border-radius 0.2s, background-color 0.2s;

    .img_home {
      width: 24px;
    }
  }

  .img_server {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}

.bola {
  /* bola blanca */
  &::before {
    width: 9px;
    height: 9px;
    position: absolute;
    left: -18px;
    background-color: white;
    border-radius: 50%;
    content: "";
    transition: height 0.2s;
  }
}

.home {
  background-color: transparent;

  &:hover {
    .img_server_home {
      background-color: var(--discord);
    }
  }

  &:focus,
  &:active {
    .img_server_home {
      background-color: var(--discord);
    }
  }
}

.mensajes {
  &::after {
    background-color: var(--notification);
    width: auto;
    height: 16px;

    padding: 0 4px;

    position: absolute;
    bottom: -4px;
    right: -4px;

    border-radius: 12px;
    border: 4px solid var(--fourth-discord);

    text-align: right;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    content: var(--mensaje);
  }
}
