.layout_content {
    height: 100vh;
    display: grid;
    grid-template-columns: 72px 303px auto;
    grid-template-rows: 32px 48px auto 68px;
    background-color: var(--primary-discord);

    grid-template-areas:     
    'HEAD HEAD HEAD'
    'SERV LICA HECA'
    'SERV LICA CODA'
    'INFO INFO CODA';
}




 /* 
 
 SERV - Servidores
 LICA - Lista de canales
 INFO - Informacion de usuario 
 HECA - Header canal 
 USLI - User list 
 CODA - contenedor de canal

  */
