.layout_content {
    height: 100vh;
    display: grid;
    grid-template-columns: 72px 303px auto 256px;
    grid-template-rows: 32px 48px auto 68px;
    background-color: var(--primary-discord);

    grid-template-areas:     
    'HEAD HEAD HEAD HEAD'
    'SERV LICA HECA HECA'
    'SERV LICA CODA USLI'
    'INFO INFO CODA USLI';

}



@media (width < 1024px) {
    .layout_content {
        grid-template-columns: 71px 240px auto;


        grid-template-areas:   
        'HEAD HEAD HEAD'  
        'SERV LICA HECA'
        'SERV LICA CODA'
        'SERV INFO CODA';
    }
}







 /* 
 
 SERV - Servidores
 LICA - Lista de canales
 INFO - Informacion de usuario 
 HECA - Header canal 
 USLI - User list 
 CODA - contenedor de canal

  */
