.layout_content {
    height: 100vh;
    display: grid;
    grid-template-columns: 72px 303px auto 256px;
    grid-template-rows: 48px auto 74px;

    grid-template-areas:     
    'SERV NASE HECA HECA'
    'SERV LICA CODA USLI'
    'INFO INFO CODA USLI';

}



@media (width < 1024px) {
    .layout_content {
        grid-template-columns: 71px 240px auto;


        grid-template-areas:     
        'SERV NASE HECA'
        'SERV LICA CODA'
        'SERV INFO CODA';
    }
}







 /* 
 
 SERV - Servidores
 NASE - Name server
 LICA - Lista de canales
 INFO - Informacion de usuario 
 HECA - Header canal 
 USLI - User list 
 CODA - contenedor de canal

  */
