.content {
  grid-area: SERV;
  background-color: var(--primary-discord);

  display: flex;
  flex-direction: column;
  align-items: center;


  /* scroll */
  max-height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.separador {
  width: 32px;
  margin-bottom: 8px;
}
