.content {
  grid-area: SERV;
  background-color: var(--primary-discord);

  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100vh - 32px - 68px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.separador {
  width: 32px;
  margin-bottom: 6px;
}
