.list_user {
  background-color: var(--third-discord);
  min-width: 256px;
  display: flex;
  flex-direction: column;
  padding: 3px 6px 0 16px;

  max-height: calc(100vh - 46px);
  overflow-y: scroll;
  border-left: 1px solid var(--fourth-discord);

  &::-webkit-scrollbar {
    width: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--symbol);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--third-discord);
    }
  }
}

.active_side {
  display: none;
}

.role {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
}

.user {
  margin-top: 5px;
  padding: 4px;

  display: flex;
  align-items: center;

  cursor: pointer;

  border-radius: 4px;
  background: transparent;
  transition: background 0.2s;
  &:hover {
    background: var(--fourth-discord);
  }

  .avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  .name {
    margin-left: 13px;
    font-weight: 500;
    font-size: 0.9rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-user);

  
  }

  .color_bot{
    color: #f9a839;
  }

  .bot {
    margin-left: 9px;

    background-color: var(--discord);
    color: var(--white);
    border-radius: 4px;
    padding: 4px 5px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }
}
