.list_user {
  grid-area: USLI;
  background-color: var(--third-discord);

  display: flex;
  flex-direction: column;
  padding: 3px 6px 0 16px;

  max-height: calc(100vh - 46px);
  overflow-y: scroll;
  border-left: 1px solid var(--fourth-discord);

  @media (width < 1024px) {
    /* display: none; */
    position: fixed;
    right: -240px;
    top: 46px;
    bottom: 0;
    min-height: 100vh;
    width: 240px;
    transition: right 0.3s ease;
    border-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: 2222 !important;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-discord);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--secondary-discord);
  }
}


.active_side {
  right: 0;
}

.role {
  margin-top: 20px;

  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
}

.user {
  margin-top: 5px;
  padding: 4px;

  display: flex;
  align-items: center;

  cursor: pointer;

  border-radius: 4px;
  background: transparent;
  transition: background 0.2s;
  &:hover {
    background: var(--fourth-discord);
  }

  > strong {
    margin-left: 13px;
    font-weight: 500;
    color: var(--white);
    opacity: 0.7;
    font-size: 0.9rem;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.bot {
      color: var(--mention-detail);
    }
  }

  > span {
    margin-left: 9px;

    background-color: var(--discord);
    color: var(--white);
    border-radius: 4px;
    padding: 4px 5px;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
  }
}

.avatar {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-discord);
}
