.head_content {
  grid-area: HEAD;
  background-color: var(--primary-discord);
  display: flex;
  align-items: center;

  .div_head {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 5px;
    .icon {
      width: 19px;
      height: 19px;
      border-radius: 4px;
    }

    .text {
      font-size: 14px;
      font-weight: 500;
      color: var(--white);
    }
  }

  .content_icon {
    padding: 0 10px;
    

    .svg {
      color: var(--symbol);
      margin: 0 10px;
      height: 20px;
      width: 20px;

      ::before {
        content: "";
        width: 9px;
        height: 9px;
        background-color: var(--notification);
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-radius: 50%;
      }
    }
  }
}
